@media (min-width: 800px) {
    .nav {
        width: 125% !important;
    }
}
body{
    margin: 0;
    padding: 0;
    background-color: #515151;
    font-family: "Source Sans Pro", sans-serif;
}
#secao-categories {
    width: 100%;
}
.nav {
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #414141;
    width: 100%;
}
.li-header {
    margin: 15px
}
.li-header > a {
    text-decoration: none;
    color: #45e334;
    font-weight: 600;
    font-size: 17px;
}
.card {
    width: 100% !important;
}
.container {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: auto;
}
#produtos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.column {
    background-color: #414141;
    width: 90%;
    border-radius: 2px 2px 15px 15px;
    color: #fff;
    border-top: 2px solid #45e334;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.produto-painel {
    margin-top: 20px;
    width: 100%;
}
.titulo-tipo {
    font-size: 24px;
    margin: 10px;
    color: #45e334;
    font-weight: 600;
}
.card {
    background-color: unset !important;
    background-clip: unset !important;
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}
.card-imagem {
    max-width: 150px !important;
    width: 150px !important;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px !important;
}
.input-shop {
    border: 0;
    background-color: #414141;
    color: #fff;
    border-radius: 6px;
    width: 30px;
    font-size: 18px;
}
h5 {
    font-size: 1.7rem !important;
}
.card-preco {
    font-size: 1.5rem;
}
.card-text {
    font-size: 1.4rem;
}