/* Cores da identidade Visual
    Cinza -> #515151
    Roxo -> #8a4efc
    Verde -> #45e334 
*/
@media (max-width: 768px) {
    .imagem-bg-cardapio {
        top: -35px !important;
    }
    .background-image {
        width: 150%;
    }
}
@media (min-width: 800px) {
    .background-image {
        width: 100%;
    }
}

body{
    margin: 0;
    padding: 0;
    background-color: #515151;
    font-family: "Source Sans Pro", sans-serif;
}
.d-flex {
    justify-content: center;
}
.container-infos {
    flex-direction: column;
    align-items: center;
}
.logo {
    border: 5px solid #fff;
    margin-top: 50px;
    width: 300px;
}
.background-image {
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100%;
    filter: opacity(65%) grayscale(15%);
}
.margin-divs {
    color: #fff;
    font-weight: 500;
    line-height: 45px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    text-shadow: 1px 1px 3px #000;
}
.margin-divs-button {
    line-height: 120px;
}
.bello-green {
    background-color: #45e334 !important;
    border: 0 !important;
    font-size: 24px !important;
    box-shadow: 1px 1px 3px rgb(90, 90, 90);
}


